@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
}
nav{
	height: 30px;
	width: 100%;
	background-color: yellow;
	/* position: fixed; */
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li{
	float: left;
	padding: 0px 20px;
	width: 200px;
	height: 30px;
	list-style: none;
	line-height: 30px;
	display: block;
}